{% extends 'AndbosonFilmzBundle::layout.html.twig' %}

{% block content -%}
    <h1>Film creation</h1>

    {{ form(form, { 'attr': {'class': 'pure-form new-film'} }) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('films') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
