{% for entity in entities %}
        <li {% if entity.slug == selected %}class="pure-menu-selected"{% endif %} >
                <a href="{{ path('films_category', { 'slug': entity.slug }) }}">{{ entity.name }}</a></li>
{% endfor %}