
.createcommet{
    display: table;
}
.createcommet textarea{
    width: 100%;
    height: 100px;
}

.img-film{
    float: left;
}

.record_properties{
    float: left;
    margin-left: 30px;
}

.record_properties th{
    text-align: left;
    padding-right: 20px;
}

.comments_list{
    width: 70%;
    clear: both;
}

.description{
    clear: both;
}

tr.comment-head{
   border-top: 1px #cdcdcd solid;
}
td.comment-head-left{
    width: 60%;
}

td.comment-head-right{
    text-align: right;
}

blockquote.content-quote{
    font-family: "Georgia", serif;
    color: #666;
    font-style: italic;
    line-height: 1.8em;
    border-left: 5px solid #ddd;
    padding-left: 1.5em;
}

.new-film label{
   float: left;
}
.new-film input{
    float: right;
}

.new-film select{
    float: right;
}

.new-film #andboson_filmzbundle_film_genre{
    width: 150px;
    float: right;
}

.new-film div{
    width: 250px;
    display: table;
    clear: both;
    padding-bottom: 5px;
}

.records_list .film{
    float: left;
    margin-right: 50px;
    text-align: center;
}

#menu a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
}
.pure-menu .pure-menu-selected a {
    color: #000;
}
.pure-menu li a {
    padding: 5px 20px;
}